.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana;
}
li a:hover:not(.active){
    background-color: #111;
}
.active{
    background-color: #4CAF50;
    width: 150px;
    margin: 0 auto;
}